@page
@model RP_PELICULAS_FS.Pages.Movies.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Película</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.fechaLanzamiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.fechaLanzamiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.descripcion)
        </dd>
    </dl>
</div>


<div>
    <!--<a asp-page="./Edit" asp-route-id="@Model.Movie.id">Edit</a> -->
    <a asp-page="./Index">Volver</a>
</div>
