@page
@model RP_PELICULAS_FS.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Índice de Películas</h1>

<br />

<form>
    <p>
        Filtrar por título: &nbsp;<input type="text" asp-for="valor_busqueda" />
        <input type="submit" value="Filtrar" />       <!-- Enviar la petición-->
  &nbsp;<select asp-for="generoPelicula" asp-items="Model.genero">
            <option value="">Todo</option>
        </select>
    </p>
</form>

<!--<form>
    <p>
        Filtrar por género: <input type="text" asp-for="generoPelicula" />
        <input type="submit" value="Filtrar" />-->       <!-- Enviar la petición-->
    <!--</p>
</form>-->

<p>
    <a asp-page="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].fechaLanzamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaLanzamiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>



<div class="catrd-title"><h3>Próximos estrenos España</h3></div> <br />

<div class="catrd-container">
    <div class="padding-movie-catrd">
        <div class="movie-card-13">
            <a href="https://localhost:44347/Movies/Details?id=1">

                <div class="mc-image"><img width="157" height="233" src="~/pictures/p1.jpg" data-src="https://localhost:44347/Movies/Details?id=1" class="lazyload" alt="Pequeños detalles "></div>
                <div class="fringe">
                    <div class="mtitle">Entre nosotras </div>
                    (26 de febrero)
                </div>
                <br />
            </a>

            <a href="https://localhost:44347/Movies/Details?id=2">

                <div class="mc-image"><img width="157" height="233" src="~/pictures/p2.jpg" data-src="https://localhost:44347/Movies/Details?id=2" class="lazyload" alt="Pequeños detalles "></div>
                <div class="fringe">
                    <div class="mtitle">Nuevo orden </div>
                    (28 de febreo)
                </div>
                <br />
            </a>

            <a href="https://localhost:44347/Movies/Details?id=3">

                <div class="mc-image"><img width="157" height="233" src="~/pictures/p3.jpg" data-src="https://localhost:44347/Movies/Details?id=3" class="lazyload" alt="Pequeños detalles "></div>
                <div class="fringe">
                    <div class="mtitle">Vengadores: Infinity War </div>
                    (15 de marzo)
                </div>
                <br />
            </a>

            <a href="https://localhost:44347/Movies/Details?id=4">

                <div class="mc-image"><img width="157" height="233" src="~/pictures/p4.jpg" data-src="https://localhost:44347/Movies/Details?id=4" class="lazyload" alt="Pequeños detalles "></div>
                <div class="fringe">
                    <div class="mtitle">Insidious </div>
                    (10 de abril)
                </div>
                <br />
            </a>
        </div>
    </div>

</div>
