@page
@model RP_PELICULAS_FS.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Índice de Películas</h1>

<p>
    <a asp-page="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].fechaLanzamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaLanzamiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>